* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.banner {
    display: flex;
}

.logobox {
    margin-left: 84px;
    margin-top: 40px;
}

.navbar {
    width: 500px;
    margin-top: 52px;
    margin-left: 40px;
}

.buttonbox1 {
    width: 270px;
    display: flex;
    margin-top: 40px;
    margin-left: 130px;
}

.buttonbox1a {
    margin-top: 5px;
}

.buttonbox1b {
    margin-top: 5px;
}

#navul {
    list-style-type:none;
	overflow: hidden;
}

li a {
    display: inline;
	color: #475467;
	text-decoration: none;
}

li {
    float: left;
    display: inline;
}

a.Alink:link, a.Alink:visited {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

a.Alink:hover, a.Alink:active {
    color: rgb(38, 74, 188);
}

a.Alinkbb1a:link, a.Alinkbb1a:visited {
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: #475467;
}

a.Alinkbb1a:hover, a.Alinkbb1a:active {
    color: #475467;
}

a.Alinkbb1b:link, a.Alinkbb1b:visited {
    padding: 15px 21px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 7px;
    height: 19px;
    background-color: rgb(38, 74, 188);
    color: white;
}

a.Alinkbb1b:hover, a.Alinkbb1b:active {
    background-color: rgb(38, 74, 188);
    color: white;
}

header {
    display: flex;
}

.header-textbox {
    margin-left: 84px;
    margin-top: 100px;
}

.htb {
    font-size: 71px;
    color: black;
}

.blue-htb {
    color: rgb(38, 74, 188);
}

.ptb {
    font-size: 20px;
    color: black;
    line-height: 30px;
}

.header-imagebox {
    margin-left: 60px;
    margin-top: 100px;
}

.header-buttonbox {
    display: flex;
    margin-top: 30px;
}

.h-bb-play {
    padding: 10px 20px;
    background-color: rgb(16, 24, 40);
    height: 30px;
    width: 130px;
    border-radius: 7px;
    display: flex;
}

.h-bb-appl {
    padding: 10px 20px;
    background-color: rgb(16, 24, 40);
    height: 30px;
    width: 127px;
    border-radius: 7px;
    display: flex;
    margin-left: 13px;
}


a.Alinkhbb:link, a.Alinkhbb:visited {
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    color: white;
    padding-top: 7px;
}

a.Alinkhbb:hover, a.Alinkhbb:active {
    color: white;
}

.section1 {
    margin-top: 80px;
}

.containers1 {
    background-color: #F6F8FF;
    width: 1263px;
    height: 200px;
}

.textboxs1 {
    margin-left: 84px;
    padding-top: 34px;
}

.ptbs1 {
    color: #475467;
    font-size: 17px;
}

.gridboxs1 {
    display: flex;
    margin-left: 84px;
}

.grid-gbs1 {
    justify-content: left;
}

.g1-gbs1 {
    margin-top: 2px;
}

.g2-gbs1 {
    margin-left: 120px;
    margin-top: 14px;
}

.g3-gbs1 {
    margin-left: 130px;
    margin-top: -26px;
}

.g4-gbs1 {
    margin-left: 120px;
    margin-top: 17px;
}

.g5-gbs1 {
    margin-left: 105px;
    margin-top: -16px;
}

.section2 {
    background-color: #F6F6F6;
}

.containers2 {
    background-color: #F6F6F6;
    width: 1263px;
    height: 900px;
}

.textboxs2 {
    padding-left: 110px;
    padding-top: 100px;
    padding-bottom: 80px;
}

.htbs2 {
    font-size: 50px;
    color: black;
}

.gridboxs2 {
    display: flex;
    justify-content: center;
}

.grid-gbs2 {
    margin: 10px;
}

.pgbs2 {
    font-size: 19px;
    color: black;
    line-height: 25px;
    padding-top: 20px;
}

.pblue {
    color: rgb(38, 74, 188);
}

.section3 {
    background-color: #F6F6F6;
}

.containers3a {
    background-color: #F6F6F6;
    height: 10px;
    width: 1263px;
    display: flex;
}

.textboxs3 {
    padding-top: 80px;
    margin-left: 120px;
}

.htbs3 {
    font-size: 47px;
    color: black;
}

.ptbs3 {
    font-size: 19px;
    color: black;
}

.starsbox {
    margin-left: 5px;
    margin-top: 115px;
}

a.Alinkreview:link, a.Alinkreview:visited {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    color: rgb(38, 74, 188);
    display: block;
    margin-top: 26px;
    margin-left: 77px;
    
}

a.Alinkreview:hover, a.Alinkreview:active {
    color: rgb(38, 74, 188);
}

.containers3b {
    background-color: #F6F6F6;
    height: 600px;
    width: 1263px;
}

.gridboxs3 {
    padding-top: 250px;
    display: flex;
}

.grid1-gbs3 {
    width: 275px;
    height: 220px;
    background-color: #F6F8FF;
    border-radius: 7px;
    margin-left: 130px;
    padding: 20px;
}

.htxtgrids3 {
    font-size: 23px;
    color: black;
}

.ptxtgrids3 {
    font-size: 15px;
    color: black;
}

.grid2-gbs3 {
    width: 275px;
    height: 220px;
    background-color: #F6F8FF;
    border-radius: 7px;
    margin-left: 30px;
    padding: 20px;
}

.grid3-gbs3 {
    width: 275px;
    height: 220px;
    background-color: #F6F8FF;
    border-radius: 7px;
    margin-left: 30px;
    padding: 20px;
}

.section4 {
    background-color: black;
}

.containers4a {
    background-color: black;
    width: 1263px;
    height: 500px;
    display: flex;
    padding-top: 140px;
}

.imageboxs4 {
    padding-left: 84px;
}

.textboxs4 {
    margin-left: 30px;
    width: 400px;
}

.ptbs4 {
    font-size: 24px;
    color: white;
    line-height: 35px;
}

a.Alinks4:link, a.Alinks4:visited {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    color: rgb(38, 74, 188);
}

a.Alinks4:hover, a.Alinks4:active {
    color: rgb(38, 74, 188);
}

.containers4b {
    background-color: black;
    width: 1263px;
    height: 400px;
    display: flex;
    padding-top: 100px;
}

.hcs4b {
    font-size: 55px;
    color: white;
    text-align: left;
    padding-left: 84px;
}

.gridboxcs4b {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    margin-left: -350px;
}

.grid1-gbcs4b {
    background-color: #252525;
    width: 300px;
    height: 80px;
    border-radius: 17px;
    padding: 30px 25px 10px 25px;
}

.grid2-gbcs4b {
    background-color: #252525;
    width: 300px;
    height: 80px;
    border-radius: 17px;
    padding: 30px 25px 10px 25px;
    margin-left: 30px;
}

.grid3-gbcs4b {
    background-color: #252525;
    width: 300px;
    height: 80px;
    border-radius: 17px;
    padding: 30px 25px 10px 25px;
    margin-left: 30px;
}

.hgcs4b {
    font-size: 44px;
    color: white;
    text-align: center;
}

.pgcs4b {
    font-size: 16px;
    color: white;
    text-align: center;
}

.containers4c {
    background-color: black;
    width: 1263px;
    height: 420px;
    padding-top: 30px;
}

.hcs4c {
    font-size: 39px;
    color: white;
    text-align: center;
}

.pcs4c {
    font-size: 18px;
    color: white;
    text-align: center;
    line-height: 25px;
}

a.Alinkcs4c:link, a.Alinkcs4c:visited {
    padding: 18px 25px;
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    height: 27px;
    width: 160px;
    background-color: rgb(38, 74, 188);
    color: white;
    margin-left: 530px;
}

a.Alinkcs4c:hover, a.Alinkcs4c:active {
    background-color: rgb(38, 74, 188);
    color: white;
}

.section5 {
    background-color: white;
    width: 1263px;
    height: 870px;
    display: flex;
    border-bottom: 2px solid rgba(211, 211, 211, 0.479);
}

.textboxs5 {
    margin-left: 84px;
    margin-top: 60px;
}

.htbs5 {
    font-size: 40px;
    color: black;
    text-align: left;
}

.faqbox {
    background-color: white;
    width: 600px;
    height: 786px;
    border: 2px solid rgba(211, 211, 211, 0.479);
    border-radius: 17px;
    margin-left: 380px;
    margin-top: 40px;
}

#faqul {
    list-style-type:none;
}

li.faqli {
    display: inline;
    color: black;
    background-color: white;
    width: 580px;
    height: 40px;
    overflow: hidden;
    font-size: 16px;
    padding-top: 25px;
    padding-left: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.299);
}

li.faqli:hover {
    display: inline;
    color: black;
    background-color: white;
    width: 580px;
    height: 40px;
    font-size: 16px;
    padding-top: 25px;
    padding-left: 20px;
    overflow: visible;
}

footer {
    background-color: white;
    width: 1263px;
    height: 250px;
    display: block;
}

.footergridbox {
    display: flex;
    margin-top: 40px;
}

.fgrid1 {
    margin-left: 84px;
    width: 200px;
}

.hfg1 {
    font-size: 16px;
    color: black;
    text-align: left;
}

#footerul {
    list-style-type:none;
}

.footerli {
    display: block;
    padding-top: 25px;
    font-size: 14px;
    font-weight: 500;
}

a.Alinkfli:link, a.Alinkfli:visited {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-align: left;
    color: black;
    display: block;
}

a.Alinkfli:hover, a.Alinkfli:active {
    color: rgb(38, 74, 188);
}

.fgrid2 {
    margin-left: 110px;
}

.pcea {
    background-color: #dde4fb;
    width: 70px;
    height: 13px;
    color: rgb(99, 99, 99);
    font-size: 10px;
    font-weight: 200;
    border-radius: 20px;
    padding: 2px 8px;
    margin-left: 10px;
    text-align: center;
}

.fgrid3 {
    margin-left: 100px;
    width: 100px;
}

.fgrid4 {
    margin-left: 100px;
}